<app-task-header title="Task Manager" [subTitle]="viewMode ? 'View' : 'Edit'" (back)="backToTaskManager()" />

<section [ngSwitch]="viewMode">
  <!-- EditMode -->
  <mat-card *ngSwitchCase=false>
    <mat-card-content>
      <mat-divider></mat-divider>
      <form [formGroup]="taskForm">
        <mat-form-field>
          <mat-label>Title</mat-label>
          <input matInput type="text" placeholder="Insert a task title" name="title" formControlName="title">
        </mat-form-field>

        <mat-form-field>
          <mat-label>Status</mat-label>
          <mat-select formControlName="status">
            <mat-option value="pending">Pending</mat-option>
            <mat-option value="done">Done</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Description</mat-label>
          <textarea matInput placeholder="Insert a task description" name="description" formControlName="description"></textarea>
        </mat-form-field>
      </form>
      <mat-divider></mat-divider>
    </mat-card-content>

    <mat-card-actions align="end">
      <button mat-button color="warn" (click)="editTask()">Cancel</button>
      <button mat-flat-button color="primary" (click)="updateTask()">Save</button>
    </mat-card-actions>
  </mat-card>

  <!-- ViewMode -->
  <mat-card *ngSwitchDefault>
    <mat-card-header>
      <mat-card-title>{{ task.title }}</mat-card-title>
      <mat-card-subtitle class="capitalize">{{ task.status }}</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <mat-divider></mat-divider>
      <p>{{ task.description }}</p>
      <mat-divider></mat-divider>
    </mat-card-content>

    <mat-card-actions align="end">
      <button mat-button color="warn" (click)="deleteTask()">Delete</button>
      <button mat-flat-button color="primary" (click)="editTask()">Edit</button>
    </mat-card-actions>
  </mat-card>

  
</section>