:host {
    display: block;
  }

  .filter {
    align-items: center;
    display: flex;
    gap: 1rem;
    justify-content: space-between;    
  }

  .mat-mdc-form-field-type-mat-input {
    width: 100%;
  }